body {
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
.done {
    text-decoration: line-through;
    color: green;
}
button {
    border-radius: 8px;
    background:rgb(102, 181, 255);
    -moz-box-shadow: 0px 5px 0px 0px rgb(0, 105, 202);
    -webkit-box-shadow: 0px 5px 0px 0px rgb(0, 105, 202);
    box-shadow: 0px 5px 0px 0px rgb(0, 105, 202);
    display:inline-block;
    margin:0px 10px 10px 0px;
    padding:10px;
    text-decoration:none;
    transition: all 0.10s ease-in-out;
    -webkit-transition: all 0.10s ease-in-out;
    position:relative;
}
input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    margin-right: 5px;
    border: 2px solid rgb(243, 125, 125);
    border-radius: 4px;
  }